<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Status Cobrança - Streaming</title>
    <link rel="stylesheet" href="./style.css">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
</head>
<body>
    <h1 class="center">Status Cobrança - Streaming</h1>
    <div id="pixContainer" class="center">
        <img src="./assets/img/qrcode-pix.png" alt="QR Code PIX" id="pix">
    </div>
    <i class="center">urielhbelo@gmail.com</i>
    <div id="priceContainer">
        <div class="hbo price center">R$34,90</div>
        <div class="disney price center">R$33,90</div>
    </div>
    <div id="table">
        <table>
            <tr>
                <th>Mês</th>
                <th>Nome</th>
                <th>Disney</th>
                <th>HBO</th>
                <th>Status</th>
            </tr>
            <tr v-for="p of pagamentos">
                <td>{{p.month}}</td>
                <td>{{p.name}}</td>
                <td>
                    <span v-if="p.d == 'y'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lime" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    </span>
                    <span v-if="p.d == 'n'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                </td>
                <td>
                    <span v-if="p.h == 'y'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="lime" class="bi bi-check-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M10.97 4.97a.235.235 0 0 0-.02.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-1.071-1.05z"/>
                        </svg>
                    </span>
                    <span v-if="p.h == 'n'">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red" class="bi bi-x-circle" viewBox="0 0 16 16">
                            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"/>
                            <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                        </svg>
                    </span>
                </td>
                <td>
                    <span v-if="p.status == 'PAGO'" style="color: green">{{p.status}}</span>
                    <span v-if="p.status == 'PEND.'" style="color: rgb(200, 200, 0)">{{p.status}}</span>
                    <span v-if="p.status == 'ATRA.'" style="color: red">{{p.status}}</span>
                </td>
            </tr>
        </table>
        <b class="center">PAGAMENTOS ATÉ O DIA 10 DE CADA MÊS</b>
    </div>
    <script src="./main.js"></script>
</body>
</html>